@media screen and (max-width: 755px) {
  .cakedata__right {
    margin-top: 3%;
  }
}

.cakedata {
  display: flex;
  flex-wrap: wrap;
}
.cakedata__breadcrumb {
  padding: 10px;
}
.cakedata__imgContainer {
  padding: 0 10px 10px;
}
.cakedata__img {
  box-shadow: 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 100px 80px rgba(0, 0, 0, 0.06);
}
.cakedata__zoom {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.cakedata__safety {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.cakedata__okay {
  display: flex;
  color: dimgray;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
}
.cakedata__okay p {
  font-size: 10px;
  color: green;
}
.cakedata__okay > .MuiSvgIcon-root {
  color: green;
  margin: 0 3px;
  font-size: 38px;
}
.cakedata__safe {
  font-size: 14px;
}
.cakedata__safe > p {
  margin-bottom: 5px;
}
.cakedata__safe .MuiSvgIcon-root {
  color: gray;
  font-size: 22px;
}

.cakedata__right {
  flex: 1;
  margin-left: 5%;
}
.cakedata__popularity {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
p {
  margin-bottom: 0;
}
.cakedata__popularity > * {
  margin-right: 20px;
}
.cakedata__priceContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300px;
  flex-wrap: wrap;
}
.cakedata__price {
  color: red;
  font-weight: 300;
  font-size: 3.5em;
}
.cakedata__price > span {
  font-weight: 300;
  font-size: 0.7em;
}
.cakedata__offer {
  font-size: 14px;
}
.cakedata__offerBtn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 10px;
}
.cakedata__offerBtn > .MuiSvgIcon-root {
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 2px;
}
.cake__description {
  margin-top: 10%;
  background-color: white;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 100px 80px rgba(0, 0, 0, 0.06);
}
.cakedata__details {
  list-style-type: none;
}
.cakedata__details > li::before {
  content: "-";
  position: relative;
  left: -15px;
  font-weight: 600;
  color: gray;
}
