.nav-link {
  width: 100%;
}
#myTab > .nav-item > button {
  height: 100%;
}
#myTab > .nav-item {
  background-color: white;
  border: 3px solid #2b1d0e;
}
#myTab > .nav-item .active {
  background-color: #fbebd1;
  font-weight: 700;
  font-size: large;
}
.list-group-item {
  background-color: #fbebd1;
}
.tab-pane.fade {
  transition: all 0.2s;
  transform: translateY(1rem);
}

.tab-pane.fade.show {
  transform: translateY(0rem);
}

.cakedata {
  display: flex;
  flex-wrap: wrap;
}
.cakedata__breadcrumb {
  padding: 10px;
}
.cakedata__imgContainer {
  padding: 0 10px 10px;
}
.cakedata__img {
  box-shadow: 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 100px 80px rgba(0, 0, 0, 0.06);
}
.cakedata__zoom {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.cakedata__cart {
  margin: 10px;
  background-color: #fbebd1;
  max-width: 400px;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #2b1d0e;
}
.cakedata__message {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  margin-bottom: 3%;
}
.cakedata__date {
  width: 90%;
}
.cakedata__date input {
  margin-top: 10px !important;
}
.cakedata__cart > button {
  margin-top: 5%;
  width: 70%;
  background-color: #2b1d0e;
  color: white;
  transition: all 0.1s ease-in-out 0s;
}
.cakedata__cart > button:hover {
  color: white;
  transform: scale(1.03);
}

.cakedata__right {
  flex: 1;
  margin-left: 5%;
  margin-top: 3.5%;
}
.cakedata__header {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.cakedata__popularity {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
p {
  margin-bottom: 0;
}
.cakedata__popularity > * {
  margin-right: 20px;
  color: #2b1d0e;
  font-weight: 700;
}
.cakedata__popularity > p {
  padding-top: 5px;
  font-size: 16px;
}
.cakedata__priceContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300px;
  flex-wrap: wrap;
}
.cakedata__price {
  color: red;
  font-weight: 300;
  font-size: 3.5em;
}
.cakedata__price > span {
  font-weight: 300;
  font-size: 0.7em;
}
.cakedata__offer {
  font-size: 14px;
}
.cakedata__offerBtn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 10px;
}
.cakedata__offerBtn > .MuiSvgIcon-root {
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 2px;
}
#myTabContent {
  box-sizing: unset;
}
.cake__description {
  margin-top: 0.5%;
  background-color: #2b1d0e;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 100px 80px rgba(0, 0, 0, 0.06);
  max-width: 790px;
  /* min-height: 390px; */

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cake__description > div {
  flex: 1;
  min-width: 200px;
}
.cakedata__details,
.cakedata__about {
  background-color: #fbebd1;
  /* margin: 0 0.5%; */
  padding: 10px;
}

.cakedata__about > p {
  min-width: 190px;
}
.cakedata__safety {
  display: flex;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cakedata__okay {
  display: flex;
  min-width: fit-content;
  color: dimgray;
  font-weight: 600;
  font-size: 14px;
  min-width: 25ch;
}
.cakedata__okay p {
  font-size: 10px;
  color: green;
}
.cakedata__okay > .MuiSvgIcon-root {
  color: green;
  margin: 0 3px;
  font-size: 38px;
}
.cakedata__safe {
  font-size: 14px;
  display: flex;
  padding: 0 10px 5px;
}
.cakedata__safe .MuiSvgIcon-root {
  color: rgba(34, 102, 17, 0.835);
  font-size: 22px;
}
