.cake {
  min-width: 150px;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  width: calc(23.5%);
  background-color: white;
  transition: all 0.25s ease-in-out 0s;
  margin: 0.8% 0;
}
.cake__item {
  width: 100%;
  object-fit: contain;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.cake__item:hover {
  transform: scale(1.03);
}

.cake__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cake__name {
  font-size: 18px;
}
.cake__info > button * {
  font-size: 18px;
}
.cake__info > button {
  border: none;
  background-color: green;
  color: white;
  border-radius: 5%;
  overflow: hidden;
}
