.cart__container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  max-width: 1500px;
  margin: 0 auto;
}
.cart__info {
  background-color: #5c0029;
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.cart__info > h4 {
  font-weight: 400;
  font-style: oblique;
  min-width: fit-content;
  padding: 0 2rem;
}
.cart__checkout {
  border: 1px solid none;
  background-color: #fff;
  width: 10rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}
.cart__items {
  overflow: scroll;
  max-height: 70vh;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in #5c0029 */
::-webkit-scrollbar-thumb {
  background: #5c0029 !important;
}
.cart__item {
  padding: 2rem;
  margin: 0.3rem 0 0.6rem;
  border-radius: 5px;
  overflow: "hidden";
  background-color: #edaf87;
  min-height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemName,
.itemClose {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.imgDiv {
  display: flex;
  align-items: center;
}
.imgCarousel {
  height: 350px;
}
.optionCakes {
  width: 200px;
  height: 200px;
}
.searchCategory {
  background-color: #86623b;
  border-radius: 5px;
  margin-top: 5px;
  padding: 15px;
}
.searchCategory h3 {
  color: white;
  margin-bottom: 20px;
}
.searchCategory p,
.searchCategory div {
  background-color: #c4a484;
  padding: 5px;
  font-size: larger;
  border-radius: 8px;
  cursor: pointer;
}
.searchCategory button {
  width: 100%;
  background-color: transparent;
  border: none;
}
.searchCategory .filterSearch {
  background-color: #c4a484;
  border: 3px solid #86623b;
}
